@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

header{
    background-color: rgb(227, 52, 25);
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

header h1{
    width: 100%;
    text-align: center;
}

header input{
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    font-size: 18px;
}

header span{
    padding-left: 10px;
    font-size: 35px;
    cursor: pointer;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    cursor: pointer;
    padding: 10px 0;
    list-style-type: none;
    font-size: 18px;
    display: flex;
    transition: 0.3s;
    align-items: center;
}

ul li:nth-child(odd){
    background-color: beige;
}

ul li:hover{
    background-color: rgba(50, 50, 50, 0.712);
}

ul li span{
    width: 80%;
}

ul li i{
    width: 10%;
    text-align: center;
}

.close{
    color: #f03333;
}